.fa-10x {
  color: #ded5e2;
  border-style: dashed;
  border-color: rgba(98, 25, 130, 1);
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.router-to-tasks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.a-left {
  margin-right: 5rem;
}

.router-to-tasks-h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  //color: rgba(121, 31, 160, 1)
  color: #ded5e2;
}



