<div class="jumbotron text-center">
  <h1>Panel administracji użytkownikami</h1>
  <p>Okno administratora</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Panel użytkowników</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Dodaj</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Edytuj</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Usuń</a>
            </li>
            <div class="float-right ">
              <form class="form-inline">
                <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Znajdź użytkownika"
                       aria-label="Search">
                <span class="oi oi-magnifying-glass"></span>
                <!--      <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>-->
              </form>
            </div>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="row">
    <!--Grid column-->
    <div class="col-md-12 mb-4">
      <table class="table">

        <thead>
        <tr>
          <th scope="col">Imię</th>
          <th scope="col">Nazwisko</th>
          <th scope="col">e-mail</th>
          <th scope="col">Rola</th>
          <th scope="colgroup"></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>mark.otto@pwr.edu.pl</td>
          <td>User</td>
          <th><span class="oi oi-pencil"></span></th>
          <th><span class="oi oi-x"></span></th>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>jacob.thornton@pwr.edu.pl</td>
          <td>Admin</td>
        </tr>
        <tr>
          <td>Larry</td>
          <td>Bird</td>
          <td>larry.bird@pwr.edu.pl</td>
          <td>Teacher</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
  </div>
