.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
}

.table th, .table td {
  vertical-align: middle;
}

.icons {
  width: 108px;
  position: fixed;
  border-top: none;
  padding: 0rem 0rem 1rem 1.25rem;
}

button {
  background: none;
  border-color: transparent;
}

.search{
  float: right;
}

.userInput{
  background: none;
  border: none;
}

