<div class="search mr-3">
    <button type="button" class="btn btn-outline-info btn-sm mr-2" [routerLink]="['/teams-admin/new']">Add team</button>
    <input class="form-control form-control-sm dark-border search-input" id="searchInput" type="search" placeholder="Search..">
</div>
<ul *ngIf="!isLoading" class="list-group m-3">
    <cdk-virtual-scroll-viewport *ngIf="teams" [itemSize]="teams.length" class="teams-list">
        <a class="list-group-item list-group-item-action mt-1" *cdkVirtualFor="let team of teams" [routerLink]="['/teams-admin', team.teamName]">
            <span>{{ team.teamName }}</span>
        </a>
    </cdk-virtual-scroll-viewport>
</ul>
<div *ngIf="isLoading" class="d-flex justify-content-center" style="margin-top: 10%;">
    <div class="spinner-grow text-dark" style="width: 5rem; height: 5rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>
<p class="m-3" *ngIf="!isLoading && (!teams || teams.length === 0)">No teams found</p>
