<div class="search mr-3">
    <button type="button" class="btn btn-outline-info btn-sm mr-2" [routerLink]="['/teams-admin/new']">Add team</button>
    <input class="form-control form-control-sm dark-border search-input" id="searchInput" type="search" placeholder="Search..">
</div>
<ul class="list-group m-3">
    <a class="list-group-item list-group-item-action mt-1" *ngFor="let team of teams" [routerLink]="['/teams-admin', team.teamName]">
        <span>{{ team.teamName }}</span>
    </a>
</ul>
<p *ngIf="!teams || teams.length === 0">No teams found</p>
