<div class="login">
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container login-title mb-4">
        <img src="../../favicon.ico" width="90" height="100" class="mr-3"/>
        <h2>Login</h2>
    </div>
    <div class="form-group">
      <label for="InputEmail">Username</label>
      <input type="text" class="form-control form-control-sm dark-input dark-border" id="InputLogin" aria-describedby="loginHelp" formControlName="login">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <div class="form-group">
      <label for="InputPassword">Password</label>
      <input type="password" class="form-control form-control-sm dark-input dark-border" id="InputPassword" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="Check">
      <label class="form-check-label" for="Check">Remember me</label>
    </div>
    <button type="submit" class="btn btn-info btn-block btn-sm">      
      Let me in
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 ml-3"></span>
    </button>
  </form>
</div>