.columns {
    height: 71vh;
}

.tags-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.task-card{
    background: rgb(56 61 63 / 47%);
}

.column-card{
    background: rgb(24 32 34 / 66%);
    display: flex;
    flex-shrink: 0;
    align-self: flex-start;
}

.list-of-tasks{
    background: rgba(56 61 63 / 0%);
}

a {
	color: rgb(81, 105, 187);
}

.all {
    width: 100%;
}

.card-body{
    padding: 0;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks-list{
    overflow-y: auto;
    max-height: 55vh;
}

.actions{
    display: flex;
    justify-content: space-between;
}

.buttons-container{
    display: flex;
    justify-content: flex-end;
}

.team-des {
    display: flex;
    flex-flow: column;
}

.duration {
    align-items: center !important;
}

.input-group-text {
    color: rgb(209, 205, 199);
}

.team-desc {
    border: none;
    background-color: rgba(0,0,0,0) !important;
}

.team-name {
    font-weight: bold;
}