<div class="d-flex m-3">
    <form [formGroup]="teamForm" style="width: 100%;" class="form-box">
        <div class="row">
            <div class="col">
                <label for="teamName">Team name</label>
                <input type="text" class="form-control form-control-sm dark-border" id="teamName" formControlName="teamName" [readonly]="!isNewTeam || isPosted"
                [ngClass]="{ 'is-invalid': isNewTeam && submitted && f.teamName.errors }">
                <div *ngIf="submitted && f.teamName.errors" class="invalid-feedback">
                    <div *ngIf="f.teamName.errors.required">Team name is required</div>
                </div>
            </div>
            <div class="col">
                <label for="teamDepartment">Team department</label>
                <input type="text" class="form-control form-control-sm dark-border" formControlName="department" [readonly]="isPosted">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col" >
                <label for="teamManager">Manager</label>
                <div class="d-flex align-items-center">
                    <input type="search" class="form-control form-control-sm dark-border" [readonly]="isPosted" #inputManager [(ngModel)]="chosenManager" [ngModelOptions]="{standalone: true}" [ngbTypeahead]="searchManagers" (selectItem)="selectedManager($event, inputManager)" [resultFormatter]="formatter" [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]='false' style="max-width: 400px;" placeholder="Search..">
                    <div *ngIf="team && team.Manager" class="col">
                        <span class="badge badge-info">
                            {{ team.Manager.surname }} {{ team.Manager.userName }}
                            <button type="button" class="close" aria-label="Dismiss" (click)="onDeleteManagerClicked()">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col" >
                <label for="teamMembers">Members</label>
                <div class="d-flex align-items-center">
                    <input type="search" class="form-control form-control-sm dark-border" [readonly]="isPosted" #inputWorker (selectItem)="selectedWorker($event, inputWorker)" [(ngModel)]="chosenWorker" [ngbTypeahead]="searchMembers" [ngModelOptions]="{standalone: true}" [resultFormatter]="formatter" style="max-width: 400px;" placeholder="Search..">
                </div>
            </div>
        </div>
        <div class="row mt-4 m-1 table-responsive-sm">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Surname</th>
                        <th scope="col">Name</th>
                        <th scope="col">Login</th>
                        <th scope="col" style="text-align: center;">Delete</th>
                    </tr>
                </thead>
                <tbody *ngIf="team">
                    <tr *ngFor="let member of team.Members; let i = index;">
                        <td>{{ member.surname }}</td>
                        <td>{{ member.userName }}</td>
                        <td>{{ member.login }}</td>
                        <td style="text-align: center;"><fa-icon type="button" class="fa mr-2" style="color: rgba(148, 26, 37, 1);" [icon]="faTimes" (click)="onDeleteMemberClicked(i)"></fa-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex" style="justify-content: flex-end;">
            <button *ngIf="!isPosted" type="button" (click)="onCancelClicked()" class="btn btn-outline-secondary btn-sm mr-2" style="align-self: flex-end;">Cancel</button>
            <button *ngIf="isPosted" type="button" (click)="onCancelClicked()" class="btn btn-outline-secondary btn-sm mr-2" style="align-self: flex-end;">Back to teams</button>
            <button *ngIf="!isNewTeam && !isPosted" type="button" (click)="onDeleteClicked()" class="btn btn-outline-danger btn-sm mr-2" style="align-self: flex-end;">Delete
                <span *ngIf="isDeleting" class="spinner-border spinner-border-sm mr-1 ml-3"></span></button>
            <button *ngIf="!isPosted" type="submit" (click)="onSaveClicked()" class="btn btn-outline-info btn-sm mr-2" style="align-self: flex-end;">Save team 
                <span *ngIf="isUpdating" class="spinner-border spinner-border-sm mr-1 ml-3"></span></button>
        </div>
    </form>
</div>