
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-des {
  display: flex;
  flex-flow: column;
}

.user-task {
  border: none;
  background-color: rgba(0, 0, 0, 0) !important;
}

.columns {
  height: 71vh;
}

.tags-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.task-box {
  flex: auto;
  text-align: -webkit-center;
}

.task-card {
  background: rgb(56 61 63 / 47%);
}

.column-card {
  background: rgb(24 32 34 / 66%);
  display: flex;
  flex-shrink: 0;
  align-self: flex-end;
}

.list-of-tasks {
  background: rgba(56 61 63 / 0%);
}

a {
  color: rgb(81, 105, 187);
}

.all {
  width: 100%;
}

.card-body {
  padding: 0;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-list {
  overflow-y: auto;
  max-height: 55vh;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.team-des {
  display: flex;
  flex-flow: column;
}

.duration {
  align-items: center !important;
}

.input-group-text {
  color: rgb(209, 205, 199);
}

.team-desc {
  border: none;
  background-color: rgba(0, 0, 0, 0) !important;
}

.team-name {
  font-weight: bold;
}

.loading {
  align-items: center;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .task-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.custom-placeholder {
  background: rgba(56, 56, 56, 0.733);
  border: dotted 3px #999;
  border-radius: 3px;
  min-height: 75px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.show {
  opacity: 1;
  transition: opacity 1s;
}

.hide {
  opacity: 0.7;
  transition: opacity 1s;
}
